<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure DELETE and other methods are supported
    RewriteCond %{REQUEST_METHOD} ^(DELETE|PUT|PATCH) [NC]
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

    <Limit GET POST PUT DELETE OPTIONS>
        Require all granted
    </Limit>

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
